.body {
	background-color: #1a1a1a;
}

.form-row {
}
	margin-bottom: 8px;
	overflow: hidden;
}
.form-row input {
	float: right;
	height: 19px;
	line-height: 19px;
	margin: 0px;
	padding: 0px 5px;
	width: 287px;
	border: 1px solid #ABADB3;
}

.reg-form {
	width: 416px;
	margin: 0 auto;
}

.form-row textarea {
	height: 90px;
    line-height: 16px;
    font-size: 12px;
    padding: 0px 5px;
    width: 404px;
    border: 1px solid #ABADB3;
}

.form-row input[type=submit] {
	padding:5px;
	height:25px;
	width:100%;
	line-height: 10px;
	background: #337AB7;
	color:white;
}

.form-row input[type=submit]:hover {
	background:#286090;
}

* {
	font-family:arial;
	font-size:10pt;
}


